{% extends "users/layout.html" %}
{% load static %}

{% block main %}
<main id="main" class="main">

    <!-- ✅ ALERT MESSAGES GO HERE -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}  bg-{{ message.tags }}  text-light border-0 alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
  <div class="pagetitle">
    <h1>Tashkilotlar</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Asosiy</a></li>
        <li class="breadcrumb-item"><a href="{% url 'users:departments' %}">Tashkilotlar</a></li>
        <li class="breadcrumb-item active">Umumiy</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  
  <section class="section dashboard">
    <div class="row">
      <div class="col-xxl-12 col-md-12">
        <div class="card info-card revenue-card h-75">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filtr</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Bugun</a></li>
                    <li><a class="dropdown-item" href="#">Shu oy</a></li>
                    <li><a class="dropdown-item" href="#">Shu yil</a></li>
                </ul>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">Tashkilotlar <span>| </span></h5>
    
                <div class="d-flex align-items-center mb-3">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center border border-success me-3">
                        <i class="bi bi-buildings"></i>
                    </div>
                        <a href={% url "users:create_department" %}>
                        <button type="submit" class="btn btn-success ms-2">
                            <i class="bi bi-people"></i> Yangi tashkilot qo'shish
                        </button>
                        </a>
                </div>
            </div>
        </div>
    </div>
    </div>
  </section>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tashkilotlar ro'yxati</h5>
            
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col">№ </th>
                  <th scope="col">Nomi</th>
                  <th scope="col">INN</th>
                  <th scope="col">H/r</th>
                  <th scope="col">MFO</th>
                  <th scope="col">Telefon</th>
                  <th scope="col">Kategoriya</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                {% for dep in department %}               
                  {% if dep.department_name == profile.department.department_name %}
                <tr class="table-success">
                  <th scope="row">{{ dep.pk }}</th>
                  <td><span class="badge rounded-pill bg-primary">{{ dep.department_name }}</span></td>
                  {% else %}
                <tr>
                  <th scope="row">{{ dep.pk }}</th>
                  <td><span class="badge rounded-pill bg-secondary">{{ dep.department_name }}</span></td>
                  {% endif %}
                  <td>
                    {{ dep.tin_number }}
                  </td>
                  <td>{{ dep.account_number }}</td>
                  <td>
                    {{ dep.mfo }}
                  </td>
                  <td>
                    {{ dep.phone_number }}
                  </td>
                  <td>
                    {% if dep.category == '1' %}
                    Avtosalon
                    {% elif dep.category == '2' %}
                    Avtoehtiyot qismlari
                    {% else %}
                    Kategoriya ko'rsatilmagan
                    {% endif %}
                  </td>                  
                  <td>
                    <a href="{% url 'users:edit_department' dep.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-square"></i></a>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock main %}


